.details--container {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  border-radius: 10px;
}

.details--container p {
  margin: 0;
}

.feels--like,
.humidity,
.visibility,
.cloud--cover {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
